/* ---- Default CSS -- */
html {
    margin: 0;
    padding: 0;
    background-color: rgb(187, 151, 221);
}

nav{
     background-color:blanchedalmond;
     display:1em;
     display:grid;
     grid-template-columns: 2fr 1fr;
     grid-gap:1em;
    }
nav > div{
background-color: rgb(198, 248, 255);
}

.menu{
    background-color:purple;
    padding:1em;
}

.menu li{
    display:inline-block;
    background-color:bisque;
    list-style-type:none;
    margin-right:10px;
    width:70px;
    height:50px;
    align-self:center;
}
main{ 
    background-color: blue;}