/* ---- Default CSS -- */
html {
    margin: 0;
    padding: 0;
    background-color: rgb(220, 243, 245);
    font-family: "Silkscreen", sans-serif;
  
}

/* ---- nav CSS -- */
nav{
     background-color:rgb(174, 231, 212);
     display:1em;
     display:grid;
     grid-template-columns: 1fr;
     grid-gap:1em;
     margin:3em;
    }


.namesake{
    min-height: 7em;
    max-height: 9em;
    font-size: 50px;
    text-align: center;
    margin-top: 9%;
    margin-right:2.5em;
    margin-left:2.5em;
    border-radius: 1em;
    height:5em;
    background-image: linear-gradient(180deg,  rgb(240, 203, 40), rgba(230, 109, 11, 0.781));
    word-wrap:break-word;
    color:rgb(255, 255, 255);
    text-shadow: 0px 7px 2px #632415;
    font-family: "Sriracha", cursive;
    box-shadow: 0px 10px 5px #632415;

}


.namesake h2{
    font-size: .5em;
    font-family: "Silkscreen", sans-serif;
    margin-bottom: 5%;
    text-shadow: 0px 5px 2px #632415;
}

/* ---- menu -- */
.menu{
    padding:12em;
    padding-top:1.5em;
    display:flex;
    flex-direction: column;
    min-width: 4em;
 }
  

   .menu > p{
       padding-left:5px;
       }
     
 /* ---- menu contents -- */


.title-bar{
    background: linear-gradient( #53ddff, #2e7b92);
    padding-top:.5em;
    padding-left: 5px;
    color: beige;
    text-shadow: 2px 1px 0 #3700ff;
 
    
}
.title-bar-2{
    background: linear-gradient( #53ddff, #2e7b92);
    padding-top:.5em;
    padding-left: 5px;
    color: beige;
    text-shadow: 2px 1px 0 #3700ff;
    font-size:1.5em;
    
}

.imagewrapper{
    display:grid;
    grid-template-columns: repeat(1,4fr);
    grid-auto-rows: minmax(10px, auto);
    padding:7px;
    padding-right:10px;
    float:left;
    background-color: rgba(252, 255, 246, 0.973);
    border-color: #2e7b92;
    border-style:solid;
    border-width: 5px;
  
   box-shadow: 5px 20px 3px #99ccc5;
}

.inner-space{
    padding:2%;
   border-style: none;
}




/* ----img----- */ 
img{
    float:left;
    height:8em;
    padding-right:1em;
   
}

.showcase img{
    padding-right:0em;
    height:4em;
    margin-top: .5em;
    margin-left:.5em;

}

.contact img{
    margin-top:.5em;
    margin-right:.25em;
    height:4em;
    margin-left:.5em;
}

.about img{
    margin-top:.5em;
    margin-right: 0px;
    height:5em;
    padding-right:0px;
}

/* ----buttons----- */ 
.button{
    background-color: rgb(40, 193, 240);
    border: 4px solid #3700ff;
    width: 15%;
    padding: 10px 24px;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: .5em;
    color:beige;
    text-shadow: 1.5px 1.5px 0 #3700ff;
    font-size: 1.05em;
    float:right;
    transition-duration: 0.4s;
    margin-bottom:10px;
    box-shadow: 0px 5px 3px #99ccc5;
}

.button:hover {
    background-color:  rgb(240, 203, 40); 
    text-shadow: 1.5px 1.5px 0 #632415;
    border-color: #632415;
  }
.close-button{
    background-color:#3700ff;
    border: 2px solid rgb(164, 229, 255);;
    border-radius: 4px;
    margin-right: 5px;
    font-family: "Madimi One", sans-serif;
    color:rgb(164, 229, 255);
    float:right;
}

.button2{
    background-color: rgb(40, 193, 240);
    border: 4px solid #3700ff;
    width: 15%;
    padding: 10px 24px;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: .5em;
    color:beige;
    text-shadow: 1.5px 1.5px 0 #3700ff;
    font-size: 1.05em;
    float:right;
    transition-duration: 0.4s;
    margin-bottom:10px;
    box-shadow: 0px 5px 3px#4bb9ab; 
    
}

.button2 > a{
    text-decoration: none;
    color:beige;
}

.button2:hover {
    background-color:  rgb(240, 203, 40); 
    text-shadow: 1.5px 1.5px 0 #632415;
    border-color: #632415;
  }


/* ----ABOUT PAGE----- */ 

.about-nav{
    display:flex;
    justify-content: center;
    width:60%;
    background-color: #79ffed;;
    box-shadow: 0px 7px 3px #0c9e8b;
    margin-left: 20%;
    border-radius: 60px;
}


.icon{
 float:right;
 padding-left:40px;

 
}



